body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.code{
  margin: 0 0 15px -15px;
}
.btn-add{
  margin: 15px 15px 0 0 ;
}
.btn-delete{
  margin: 15px 15px 0 0 ;
}
.type{
  padding-right: 10px;
}
.show-data{
  background-color: #f8f8f8;
  height: 500px;
  width: 100%;
  border-radius: 5px;
  box-shadow: #8c8b8b 0px 0px 3px;
  margin:15px auto;
  padding: 15px;
}
#file{
  display: none;
}
.input-json{
  margin-top: 15px;
}